@model StickersWeb.Models.Team.EditTeamModel
@{
    ViewBag.Title = "_TeamModalPartial";
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Edit team</h4>
    </div>
    <div class="modal-body">
        <div id="editTeamError"></div>
        @using (Html.BeginForm("EditTeam", "Team", FormMethod.Post, new {Id = "EditTeamForm"}))
        {
        @*@Html.AntiForgeryToken()*@
            @Html.ValidationSummary("", new {@class = "text-danger"})
                @*<input type="hidden" class="teamId" value="@Model.Id" />*@
                @Html.HiddenFor(x => x.Id)
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = "Name"})
                @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})

                @Html.TextAreaFor(m => m.Description, new {@class = "form-control", placeholder = "Description"})
                @Html.ValidationMessageFor(m => m.Description, "", new {@class = "text-danger"})

                <div>
                    @*<button class="btn">Save</button>*@
                    <input id="test" type="submit" value="Save" />
                </div>
        }
    </div>
</div>

