@model StickersWeb.Models.Team.TeamModel

@{
    ViewBag.Title = "Home Page";
}

<h3>Hello</h3>

<div class="container">
    <div class="row tracker">
        <div class="list--wrap col-md-4">
            <div class="teams text-center">
                <input type="text" name="name" id="searchTeamInput" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Home")' />
                @*<button class="btn">Search</button>*@
                @*<input type="submit" id="search" value="Поиск" />*@

                @Html.Partial("~/Views/Team/_ListTeamsPartial.cshtml")

            </div>
        </div>
        <div class="list--wrap col-md-4">
            <div class="userteampos">
                <input type="hidden" Id="selectedTeam" value="." />
                <div id="userTeamPos">

                    @Html.Partial("~/Views/Team/_ListUsersTeamPosPartial.cshtml")
                </div>
                @Html.Hidden("GetUserTeamPos", Url.Action("GetUserTeamPostions"))
                @Html.Hidden("AddUserToTeam", Url.Action("AddUserToTeam"))
            </div>
        </div>
        <div class="list--wrap col-md-4" >
            <div class="users">
                <div id="users text-center">
                    <input type="text" name="name" id="searchUserInput" data-autocomplete-source='@Url.Action("AutocompleteSearch", "Home")' />
                    
                    @Html.Partial("~/Views/Team/_ListUsersPartial.cshtml")
                </div>
                @Html.Hidden("GetUsers", Url.Action("GetUsers"))
            </div>
        </div>
    </div>
</div>